<html>
    <head>
        <Title>Qodex - {% block title %}{% endblock %}</Title>
        <link rel="stylesheet" href="../assets/style.css">
    </head>
    <body>
        <a href="http://qodex.org"><h1 class="main_logo">Qodex</h1></a>
        {% block content %}
        {% endblock %}
    </body>
    <footer>
        <p>This site's contents are part of the Public Domain</p>
    </footer>
</html>