{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
        <h3>Headlines</h3>
        <ul>
            {% for headline in headlines %}
                <li><a href="{{ headline.url }}">{{ headline.title }}</a></li>
            {% endfor %}
        </ul>
        <h3>Posts</h3>
        <ul>
            {% for post in posts %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
        <h3>Ongoing Stories</h3>
        <ul>
            {% for story in stories %}
                <li><a href="{{ story.url }}">{{ story.title }}</a></li>
            {% endfor %}
        </ul>
        <h3>Hot Topics</h3>
        <p>Coming soon...</p>
        <h3>Tags</h3>
        <ul>
            {% for tag in tags %}
                <li><a href="{{ tag.url }}">{{ tag.title }}</a></li>
            {% endfor %}
        </ul>
        <h3>About</h3>
        <p>The Qodex Project is a grassroots project for aggregating and analyzing world events through the lens of the media.</p>
{% endblock %}