{% extends "base.html" %}
{% block title %}{{ story.title }}{% endblock %}
{% block content %}
        <h3>Ongoing story: {{ story.title }}</h3>
        <ul>
                <h4>Headlines</h4>
                {% for headline in headlines %}
                {% if headline.story == story.title %}
                <li><a href="{{ headline.url }}">{{ headline.title }}</a></li>
                {% endif %}
                {% endfor %}
                <h4>Opinions</h4>  
                {% for post in posts %}
                {% if post.story == story.title %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
                {% endfor %}                
        </ul>   
{% endblock %}